<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>

<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/sign-up}">Sign up</a>
    <br>
    <a th:href="@{/login}">Login</a>
</div>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Logout</a>
</div>

<div sec:authorize="hasRole('ROLE_MODERATOR')">
    <a th:href="@{/moderator}">Moderator</a>
</div>

<br>
<br>

<table border="1px">

    <tr><th>Title</th></tr>

    <tr th:each="news,iter:${newsList}">
        <td><a th:href="@{/news/{id}(id=${news.id})}" th:utext="${news.title}"></a></td>
    </tr>

</table>

    <br>
    <br>

    <form th:action="@{/}" th:object="${newsForm}" method="post">
        <label>Title: <input th:field="*{title}" type="text" placeholder="Title"></label>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        <br>
        <label>Body:  <textarea th:field="*{body}" type="text" placeholder="Body"></textarea></label>
        <span th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></span>
        <br>
        <br>
        <input type="submit" value="Add">
    </form>
    <br>
    <br>
    <span th:if="${message!=null}" th:utext="${message}"></span>
</body>
</html>