<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moderator page</title>
</head>
<body>

<table border="1px">

    <tr><th>Title</th><th>Post</th><th>Delete</th></tr>

    <tr th:each="news:${allNews}">
        <td><a th:href="@{/news/{id}(id=${news.id})}" th:utext="${news.title}"></a></td>
        <td><a th:href="@{/moderator/post/{id}(id=${news.id})}">Post</a> </td>
        <td><a th:href="@{/moderator/delete/{id}(id=${news.id})}">Delete</a> </td>
    </tr>
</table>

<br>
<br>
<br>
<a th:href="@{/}">Home</a>

</body>
</html>