<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
</head>
<body style="font-size: 18px">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="font-size: 22px" th:href="@{/}">E-News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="hasRole('ROLE_MODERATOR')">
                <a class="nav-link" th:href="@{/moderator}">Moderator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()" >
                <a class="nav-link" th:href="@{/sign-up}">Sign up</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>

        <div style="font-size: 20px;" sec:authorize="isAuthenticated()" class="navbar-text"
             th:text="'Hello, '+${#authentication.name}">
        </div>
    </div>
</nav>

<!--<div sec:authorize="!isAuthenticated()">-->
<!--    <a th:href="@{/sign-up}">Sign up</a>-->
<!--    <br>-->
<!--    <a th:href="@{/login}">Login</a>-->
<!--</div>-->

<!--<div sec:authorize="isAuthenticated()">-->
<!--    <a th:href="@{/logout}">Logout</a>-->
<!--</div>-->

<!--<div sec:authorize="hasRole('ROLE_MODERATOR')">-->
<!--    <a th:href="@{/moderator}">Moderator</a>-->
<!--</div>-->

</body>
</html>